.gitops-plugin__resources {
  &__title {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 1.5rem;
    align-items: center;
  }
  &__list {
    display: flex;
  }

  .co-resource-item--inline {
    margin-right: 4px;
  }

  .pf-l-split.pf-m-gutter>*:not(:last-child) {
    margin-right: var(--pf-global--spacer--sm);
  }
}
