{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "prettier.useTabs": true,
  "trailingComma": "all",
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
