.argocd-resource-icon {
    background-color: #E9654B !important;
    color: white !important;
}

$co-button-height: calc(
  var(--pf-t--global--font--size--body--default) * var(--pf-t--global--font--line-height--body) +
    var(--pf-t--global--spacer--control--vertical--default) * 2
);

.co-actions {
    // ensure all actions are of the same height regardless of content
    min-height: $co-button-height;
  
    > .pf-v6-c-action-list__group {
      // remove extra spacing when a component is rendered but has no children
      > div:empty {
        display: none;
      }
    }
}

.details-page-header {
    display: flex;
    align-items: center;
    &__item {
        padding-left: '16px';
        margin-left: '16px';
    }
}
.details-page-title {
    padding-block-start: var(--pf-t--global--spacer--sm);
}