.gitops-plugin__preview-badge {
  &.pf-v6-c-label {
    --pf-v6-c-label--BackgroundColor: #E9654B;
    --pf-v6-c-label--Color: var(--pf-t--color--white);
    margin-top: 3px;
    padding-bottom: 7px;
  }
}
